<!DOCTYPE html>
<html>
<head>
    <title>{{ profile.name }} - Profile</title>
    <style>
        body { font-family: Arial; background-color: #121212; color: #fff; padding: 20px; }
        .trade {
            background: #1e1e1e;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 8px;
        }
        a { color: #8ab4f8; }
    </style>
</head>
<body>
    <a href="/">← Back</a>
    <h1>{{ profile.name }}</h1>
    <p>{% if profile.party == "D" %}
        Democrat
    {% elif profile.party == "R" %}
        Republican
    {% else %}
        {{ profile.party }}
    {% endif %}
    / {{ profile.chamber }}{% if profile.state %} / {{ profile.state }}{% endif %}</p>
    <h3>Committees</h3>
    <ul>
        {% for c in profile.committee %}
            <li>{{ c }}</li>
        {% else %}
            <li>No committee data found</li>
        {% endfor %}
    </ul>
    {% for trade in profile.trades %}
        <div class="trade">
            <li>
                <strong>{{ trade.company_name }}</strong>
                <br>
                {{ trade.Ticker }}
                {% if trade.industry %}
                    <br><strong style="color: rgb(241, 182, 182);">
                        {% if trade.industry == "Unknown" %}
                            General
                        {% else %}
                            {{ trade.industry }}
                        {% endif %}
                    </strong>
                {% endif %}
                 — {{ trade.Transaction }} — {{ trade.Trade_Size_USD | format_trade_size }}
            </li>

            {% if trade.Transaction == "Sale" and trade.excess_return is not none %}
                <small style="color: #8ab4f8;">
                    Return vs S&amp;P: {{ "%.2f" | format(trade.excess_return | float) }}%
                </small>
                <br>
            {% endif %}

            <small>Traded: {{ trade.Traded }} | Filed: {{ trade.Filed }}</small>
        </div>
    {% endfor %}
    <div style="margin-top: 30px;">
    {% if page > 1 %}
        <a href="?page={{ 1}}"> << </a>
        <a href="?page={{ page - 1 }}"> < </a>
    {% endif %}

    <span style="margin: 0 10px;">Page {{ page }} of {{ total_pages }}</span>

    {% if page < total_pages %}
        <a href="?page={{ page + 1 }}"> > </a>
        <a href="?page={{ total_pages }}"> >> </a>
    {% endif %}
    </div>

</body>
</html>
